@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Slab", serif;
    font-family: "Bellota", system-ui;
    background-color: #efefef;
    font-family: "Judson", serif;
    height: 100vh;

}

.container{
    border: 2px solid red;
    width: 80%;
    margin: 50px auto;
    background-color: #eeecec;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 500px black;
}

/* ---------------------------------- */
/*               iconbar              */
/* ---------------------------------- */

.iconbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #d9d9d9;
}

.input-part{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 74px;
    width: 808px;
    justify-content: space-between;

}

.input-part > img{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    box-shadow: -1px 1px 5px black;
    background-color: whitesmoke;
    margin-left: 10px;
}

.icons img{
    border: 2px solid red;
    width: 64px;
    padding: 10px 10px;
}

div > select{
    font-family: "Bellota", system-ui;
    padding: 5px;
    width: 188px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #d9d9d9;
}

.search-input{
    background-color: #d9d9d9;
    height: 40px;
    width: 300px;
    margin: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.search-input input{
    background-color: #d9d9d9;
    width: 220px;
    padding: 10px;
    height: 100%;
    border: none;
    border-radius: 5px;

}

.search-input input:focus{
    outline: none;
}

.search-input img{
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.support{
    text-align: right;
}

.support-number{
    font-size: 20px;
    font-family: "Judson", serif;
    font-weight: 600;
}

.support-text{
    font-size: 13px;
}

.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Judson", serif;
    gap: 50px;
    margin: 16px 0 0 64px;
    padding: 10px 50px;
}

.list-select{
    display: flex;
    align-items: center;
    font-size: 21px;
    width: 310px;
    height: 40px;
    border: 1px solid #a2a1a1a7;
    background-color: #d9d9d9;
    gap: 10px;
    /* padding: 1rem; */
}

.list-select > img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.list-select > p{
    flex-grow: 5;
    font-style: italic;
}

.list-text{
    display: flex;
    font-size: 20px;
    gap: 10px;
}

.header{
    margin-top: 20px;
    background-image: url(./images/stock.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.essential{
    background-color: #d5dee5;
    height: 300px;
    width: 800px;
    display: flex;
    font-family: "Judson", serif;
    font-size: 2rem;
}

.essential p{
   display: flex;
   align-items: center;
   padding: 20px;
   letter-spacing: 0.3px;
   font-style: italic;
}

.essential img{
    
}

header > img{
    width: 400px;
    height: 300px;
}

